/*@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');*/

/*span > .material-icons,*/
/*span > .material-icons-outlined,*/
/*span > .material-icons-two-tone,*/
/*span > .material-icons-sharp,*/
/*span > .material-icons-round*/
/*{*/
/*  font-size: 1rem;*/
/*}*/
:root {
  --bs-light: #f8f9fa;
  --bs-secondary: #6c757d;
}
.action {
  /*font-size: 1.2rem*/

}

body {
  font-family: 'Inter', 'Noto Sans Thai', sans-serif;
}

body {
  /*background-image: url("http://cdn26.us1.fansshare.com/photo/wallpaperwhite/white-gradient-background-white-background-1244013107.jpg");*/
  background-color: var(--bs-light);
  /*background-image: url("http://www.spyestates.com/wp-content/themes/primer/assets/images/hero.jpg");*/
  /*background-image: url("http://www.facets.la/wallpaper/W_2013_233_40_LUX.jpg");*/
  /*background-image: url("static/bg.jpg");*/
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;
  height: 100vh;
}

.form-label {
  letter-spacing: 0.1em;
  font-size: 0.9rem;
  color: var(--bs-secondary);
}

.fullscreen {
  height: calc(100vh - 41px);
}

.height-news {
  height: auto;
}

.fit-content {
  height: fit-content;
}

.bg-white-50 {
  background: rgba(255,255,255,0.75);
}

.bg-dark-50 {
  background: rgba(0,0,0,0.4);
}

.bg-blur {
  backdrop-filter: blur(20px);
}


.navbar-toggler {
  border: none !important;
}

.nav-link.active {
  border-bottom: solid 2px #0087ff;
}

.nav-link {
  font-weight: bold;
  /*color: black !important;*/
}

.small-col {
  /*max-width: 10rem;*/
}

th {
  font-weight: 600;
  color: #546e7a;
  /*color: ;*/
}

td {
  color: #546e7a;
}

td > span, td {
  vertical-align: middle !important;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #fefefe;
}



.avatar {
  display : inline-block;
  position : relative;
  width : 30px;
  white-space : nowrap;
  border-radius : 1000px;
  vertical-align : bottom;
}
.avatar img {
  width : 100%;
  max-width : 100%;
  height : auto;
  border : 0;
  border-radius : 1000px;
}

.card {
  border-radius: 0.7rem;
}

.card-img {
  /*border-radius: 0.7rem;*/
}



