<template>
  <div class="container">
    <div class="row fullscreen justify-content-center align-content-center">
      <b-card class="col-xxl-4 col-xl-5  col-lg-6 col-md-8 col-sm-10 fit-content shadow-sm">
        <b-card-header class="bg-transparent border-0 text-center my-2">
          <b-img class="mb-3" src="/logo.png" alt="logo" height="45px" />
          <h3>
            ลงชื่อเข้าใช้งาน
          </h3>
        </b-card-header>
        <b-form @submit="signIn">
          <b-form-group
            label="Username"
            label-for="input-email"
            class="mb-3"
          >
            <b-form-input
              id="input-email"
              v-model="form.username"
              placeholder="ชื่อผู้ใช้งาน"
              required
            />
          </b-form-group>

          <b-form-group
            label="Password"
            label-for="input-password"
            class="mb-2"
          >
            <b-form-input
              id="input-password"
              v-model="form.password"
              type="password"
              placeholder="รหัสผ่าน"
              required
            />
          </b-form-group>
          <div class="col-sm-12 mb-2 pt-3 text-center">
            <b-button type="submit" variant="primary" @click="signIn">
              เข้าสู่ระบบ
            </b-button>
          </div>
          <!--          {{ makeHash(form.password) }}-->
          <!--          user: {{validateUsername(this.form.username)}} <br>-->
          <!--          pass: {{validatePassword(this.form.password)}}-->
        </b-form>
      </b-card>
    </div>
  </div>
</template>

<script>
const CryptoJS = require('crypto-js')
const SALT_KEY = 'uBusSSuss'
export default {
  layout: 'empty',
  middleware: 'branch',
  data () {
    return {
      form: {
        username: '',
        password: ''
      }
    }
  },
  head () {
    return {
      title: 'RSU Shuttle bus - Admin'
    }
  },

  methods: {

    signIn (event) {
      event.preventDefault()
      if (this.validatePassword(this.form.password) && this.validateUsername(this.form.username)) {
        this.$store.dispatch('login').then(() => {
          this.$router.push('/bus')
        })
      } else {
        this.$swal.fire({
          title: 'รหัสผ่านหรือชื่อผู้ใช้งานไม่ถูกต้อง',
          icon: 'error'
        })
      }
    },

    makeHash (pass) {
      return CryptoJS.SHA256(pass + SALT_KEY)
    },

    validatePassword (pass) {
      return this.makeHash(pass).toString().trim() === '0dc43ef3552192a7d2a598146c34c8c28a30492ac52b6012d8b6ecbc5dc80c55'
    },

    validateUsername (user) {
      return user === 'admin'
    },

    formatter (value) {
      return value.toLowerCase()
    }
  }

}
</script>

<style>
</style>
